<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xhu.freezer.dal.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.xhu.freezer.dal.entity.Customer">
    <result column="id" property="id" />
        <result column="customer_name" property="customerName" />
        <result column="real_name" property="realName" />
        <result column="customer_psw" property="customerPsw" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="identify" property="identify" />
        <result column="customer_tel" property="customerTel" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        customer_name, real_name, customer_psw, sex, age, identify, customer_tel, create_time, update_time
    </sql>

</mapper>
