<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xhu.freezer.dal.mapper.DeliveryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.xhu.freezer.dal.entity.Delivery">
    <result column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="express_no" property="expressNo" />
        <result column="express_name" property="expressName" />
        <result column="sender" property="sender" />
        <result column="sender_address" property="senderAddress" />
        <result column="sender_tel" property="senderTel" />
        <result column="receiver" property="receiver" />
        <result column="receiver_address" property="receiverAddress" />
        <result column="receiver_tel" property="receiverTel" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        order_no, express_no, express_name, sender, sender_address, sender_tel, receiver, receiver_address, receiver_tel, create_time, update_time
    </sql>

</mapper>
