<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xhu.freezer.dal.mapper.OutboundItemInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.xhu.freezer.dal.entity.OutboundItemInfo">
    <result column="id" property="id" />
        <result column="outbound_no" property="outboundNo" />
        <result column="item_name" property="itemName" />
        <result column="outbound_num" property="outboundNum" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        outbound_no, item_name, outbound_num, create_time, update_time
    </sql>

</mapper>
